{% extends "layout.html" %}
{% block content %}
<container>
    <div class="about">
        <p>
            I'm a developer passionate about data driven development that delivers concise and reliable results.
            My favorite work revolves around <b>back end technologies</b> and creating dynamic, adaptable solutions.
        </p>
        <p>
            I graduated from <b>Columbia University</b> where I studied Computer Science and Mathematics.
            I also studied a semester in Madrid as part of the university's engineering exchange program, broadening my perspective on global technology and problem-solving.
            My studies have given me a strong foundation in <b>data structures</b>, algorithms and <b>artificial intelligence</b> that allows me to build scalable solutions.
        </p>
        <p>
            Currently, I am a Software Engineer at <b>Huntington Ingalls Industries</b> working on a DoD awarded contract to support Joint Force Training. 
            I contribute to the development of 3D geographical simulation to further the mission of military readiness. 
            I collaborate with other engineers to ensure our application meets the highest standards of efficiency to provide our end users with a seamless experience.
        </p>
        <p>
            In the past, I've also worked alongside senior engineers to develop back-end technologies for financial data management.
            I have extensive experience with <b>API</b> platforms, <b>unit testing</b>, and <b> data mapping</b>. 
        </p>
        <p>
            In my spare time I love to bake, garden, jog and discover new vegan-friendly spots with my partner.
        </p>
        <p>
            You can view my full resume <a href="/resume" target="_blank"><b>here</b></a>.
        </p>
    </div>
</container>

{% endblock %}